<header>
  <div class="navbar navigation">
    <!--TOP NAV-->
   <div class="nav">
     <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list myTops" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
   </div>
   <div class="logo">
     <img class="logon" src="../../assets/images/logo.jpeg" width="100px" height="100px" alt="An image">
   </div>
   <div class="right-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search myTops" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
   </div>
<!--TOP NAV END-->
  </div>
  <!--Start Mid -->
<div class="header-body">
  <h2 class="h2">Simple Template with Cool Stuff</h2>
  <span class="text-secondary" >Lorem ipsum dolor sit, amet consectetur adipisicing elit.</span>
</div>
<br>
<br>
<button class="btn btn-light rrd">Explore Template</button>
<br>
<div class="banner">
  <img class="bg-white" src="../../assets/images/horse2.jpeg" width="100%" height="600px" alt="">
</div>
</header>
