body {
  margin: 0;
  padding: 0;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.logon {
  margin-top: -25px;
}
.myTops {
  margin-top: -15px;
}
.header-body {
  text-align: center;
  padding-top: 50px;
}
.rrd {
  color: rgb(26, 93, 201);
  border-radius: 20px;
  display: block;
  margin: auto;
}
