*,
*:after,
*:before {
	box-sizing: border-box;
}
.body {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
h1 {
	font-size: 48px;
  font-weight: bold;
}
p {
	color: #dadcde;
	font-size: 16px;
	line-height: 36px;
}
.m-button {
  background-image: url(../../assets/images/bg-horse.png);
  background-repeat: no-repeat;
  width: 100%;
  background-position: center ;
  background-size: contain;
  height: 1300px;
}
@media (max-width: 800px) {
  .m-button {
    object-fit: cover;
  }
}
.m-button p {
  line-height: 18px;
  font-size: 18px;
  color: #dadcde;
  padding-top: 20px;
  text-align: center;
}
.button {
  text-transform: uppercase;
  padding: 0;
  background-color: #fff;
  border: none;
  line-height: 18px;
  width: 229px;
  font-size: 14px;
  color: #43a9ff;
  box-shadow: 0 0 65px #dae4ef;
  border-radius: 35px;
  height: 51px;
  margin: auto;
  display: block;
}

.highlight {
	margin-top: -240px;
}
.mycards img {
  width: 50px;
  height: 45px;
  align-self: center;
}
.mycards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .mycards {
    flex-direction: column;
  }
  .mycards .card-img-top {
    background-size: fill;
  }
}
.move {
  align-self: center;
  border-color: white;
}
.mycards p {
  font-size: 14px;
  line-height: 24px;
}
.mycards .card-title {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}
.mycards .button {
  margin-bottom: 120px;
}
.box-text {
  width: 50%;
  align-self: center;
  vertical-align: middle;
  display: inline-block;
}
.box {
  display: flex;
}
@media (max-width: 800px) {
  .box {
    flex-direction: column;

  }
  .box img {
    width: 100%;
  }
  .box-text {
    align-self: center;
      padding-top: 30px;
  }
  .box h1 {
    font-size: 15px;
    display: inline-block;
  }
  .box p {
    font-size: 10px;
    display: inline;
  }
}
.container-profile img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-color: white;
}
.fit img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-color: white;
  overflow: scroll;
  border: 1px solid white ;
}









.final img {
  background-position: center bottom;
	background-repeat: no-repeat;
	height: 1300px;
	width: 100%;
  margin-top: -100;
}
@media(max-width: 800px) {
  .final img {
    background-size: contain;
  }
}
.final p {
  margin: 130px 0px 10px 0;

}
