<div class="container-fluid">
  <div class="body">
    <div class="m-button">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <br>
      <br>
      <br>
					<input class="button text-center" type="button" value="explore template"/>
    </div>
    <!--M-Button END-->
    <div class="highlight">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<h1 class="h1">Lorem ipsum dolor sit amet.</h1>
    </div>
    <!--SIMPLE WRITING-->
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="mycards">
      <div class="card move" style="width: 18rem;">
        <img src="..//../assets/images/col-ico-1.png" class="card-img-top" alt="...">
        <br>
        <div class="card-body">
          <div class="card-title">Lorem ipsum dolor sit amet.</div>
          <p class="card-text">Suspendisse vel leo efficitur,<br>venenatis est ut tincidunt
            nibh.</p>
        </div>
      </div>
      <div class="card move" style="width: 18rem;">
        <img src="../../assets/images/col-ico-2.png" class="card-img-top" alt="...">
        <br>
        <div class="card-body">
          <div class="card-title">Lorem ipsum dolor sit amet.</div>
          <p class="card-text">Suspendisse vel leo efficitur,<br>venenatis est ut tincidunt
            nibh.</p>
        </div>
      </div>
      <div class="card move" style="width: 18rem;">
        <img src="../../assets/images/col-ico-3.png" class="card-img-top" alt="...">
        <br>
        <div class="card-body">
          <div class="card-title">Lorem ipsum dolor sit amet.</div>
          <p class="card-text">Suspendisse vel leo efficitur,<br>venenatis est ut tincidunt
            nibh. </p>
        </div>
      </div>
      <div class="card move" style="width: 18rem;">
        <img src="../../assets/images/col-ico-4.png" class="card-img-top" alt="...">
        <br>
        <div class="card-body">
          <div class="card-title">Lorem ipsum dolor sit amet.</div>
          <p class="card-text">Suspendisse vel leo efficitur,<br>venenatis est ut tincidunt
            nibh.</p>
        </div>
      </div>
    </div>
    <br>
    <br>
      <input class="button" type="button" value="check our offer"/>
       <!--Highlights-->
<br>
<br>
<div class="box">
  <img src="../../assets/images/box-image.png" width="50%" height="500px" alt="">
  <div class="box-text">
    <h1>Lorem ipsum dolor.</h1> <br>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
					Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.<br>
					Suspendisse lobortis lectus vel imperdiet ullamcorper.
					</p>
  </div>
</div>
<div class="box">
  <div class="box-text">
    <h1>Lorem ipsum dolor.</h1> <br>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
					Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh.<br>
					Suspendisse lobortis lectus vel imperdiet ullamcorper.
					</p>
  </div>
  <img src="../../assets/images/box-image2.png" width="50%" height="500px" alt="">
</div>
<!--End Boxes-->
<br>
<br>
<br>
<div class="fit">
  <div class="row"><div class="col-lg-12"><img src="../../assets/images/fix1.png" alt=""></div></div>
</div>
<div class="container-profile">
  <div class="row">
    <div class="col-lg-12"> <img src="../../assets/images/fix2.png" alt=""></div>
  </div>
</div>



<!--Footer Start-->
<footer>
  <div class="final">
  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <h1 class="h1 text-center">Lorem ipsum dolor sit amet.</h1>
  <br>
  <br>
  <br>
  <br>
  <input class="button" type="button" value="symu.co/freebies"/>
  <img src="../../assets/images/bg-footer.png" alt="">

  </div>
</footer>
