<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col col-lg-2 col-lg-8 col-lg-2 header-content">
        <!--Menu Icon-->
        <div class="left">
          <div class="menu-bar">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="45"
              height="45"
              fill="currentColor"
              class="bi bi-list top"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
              />
            </svg>
          </div>
        </div>
        <!--Menu Icon-->
         <!--LOGO-->
        <div class="middle">
          <div class="mylogo">
            <div class="customise-logo">
              <div class="logoT">
                Crios
                <p class="logoM">FREE PSD TEMPLATE</p>
              </div>
            </div>
          </div>
        </div>
         <!--LOGO-->
         <!--Search-->
        <div class="right">
          <div class="searchbar">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="45"
              height="45"
              fill="currentColor"
              class="bi bi-search top"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
              />
            </svg>
          </div>
        </div>
        </div>
    </div>
  </div>
<br>
<br>
<br>
<h1 class="h1 text-center">Simple PSD template with cool stuff</h1>
</header>
